*.exe
*.pdf

# TPS files
*/gen/._gen.cpp.compile.out
*/logs/
*/sandbox/
*/tests/gen_summary
*/tests/mapping

Matching/tests/*.in
Matching/tests/*.out
# Puyo/tests/*.in
Puyo/tests/*.out
Route/tests/*.in
Route/tests/*.out
